# Build
/local.properties
/.kotlin/
/.gradle/
**/build/
**/.cxx/
**/.externalNativeBuild/

# Editor
/.vscode/
/.idea/
/*.iml

# System
.DS_Store
Thumbs.db

OldTimestampUtilities
*/.idea
Test
local.properties

decompiled/
data/

/.agents
/.claude
aliucord-plugins.code-workspace
skills-lock.json
